#searchBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
}

#search{
     width: 40rem;
     height: 2.5rem;
     margin-right: 1rem;
     margin-left: 1rem;
     border-radius: 0.5rem;
     padding-left: 1rem;
}

#searchBar > button{
    width: 8rem;
    height: 2.8rem;
     

}

 